<li>
  <%= link_to following_relationship_activity.follower_email, following_relationship_activity.actor %> <%= t('.followed') %>
  <%= link_to following_relationship_activity.followed_user_email, following_relationship_activity.target %>
</li>
