<li>
  <%= link_to following_relationship_activity.follower_username, following_relationship_activity.actor %> <%= t('.followed') %>
  <%= link_to following_relationship_activity.followed_user_username, following_relationship_activity.target %>
</li>
