// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$magenta: #FF69B4;
$flamingo-pink: #FF83C1;
$light-pink: #ffb6da;
$bubblegum-pink: #FFB6DA;
$hot-pink: #ff1d8e;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$light-blue: #F5FAFF;
$super-light-pink: #ffe9fc;
$barely-pink: #fff6fe;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $magenta;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 10px;
$base-button-border-radius: 5px;
$base-form-border-radius: 5px;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
