<ul>
  <li class="item">
    <div class="item-text">
      <%= link_to item.text, item %>
    </div>

      <%= item.created_at.strftime("%b %d %Y") %>
  — <%= link_to item.user.email, item.user %>

  <div id ="glitterings">
    <p> glitter: <%= item.glitterings.count %></p>
  </div>
  </li>
</ul>
