<h1 id="welcome-message"><%= t('.welcome_message')%></h1>

<div id="main-content">
  <div id="news-feed">
    <h2 id="news-feed-header-text"><%= t('.news_feed_header') %></h2>
    <%= render @items %>
  </div>
</div>

<div id="side-nav">
  <%= render 'items/new', item: @item %>
</div>




