#outer-wrapper {
  @include border-top-radius($base-border-radius);
  @include border-right-radius($base-border-radius);
  @include border-bottom-radius($base-border-radius);
  @include border-left-radius($base-border-radius);
  @include outer-container;
  background-color: $barely-pink;
  padding: 15px;

  #main-content {
    @include span-columns(9);
    background-color: $light-pink;
    @include border-top-radius($base-border-radius);
    @include border-right-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
    @include border-left-radius($base-border-radius);
    padding: 15px;

    h2 {
      font-size: 2em;
      color: white;
      text-align: center;
    }
  }

  #side-nav {
    @include span-columns(3);
    background-color: $super-light-pink;
    @include border-top-radius($base-border-radius);
    @include border-right-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
    @include border-left-radius($base-border-radius);
    padding: 15px;
  }

  #content-header {
    text-align: center;
    font-size: 2em;
    color: $hot-pink;
  }

 #logo {
    @include border-top-radius($base-border-radius);
    @include border-right-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
    @include border-left-radius($base-border-radius);
    @include linear-gradient($hot-pink, $light-pink);
    @include linear-gradient(to top, $light-pink, $hot-pink);
    @include linear-gradient(50deg, $hot-pink 0%, $magenta 50%, $flamingo-pink 51%, $bubblegum-pink 100%);
    text-align: center;
  }

  #logo a {
    color: white;
    font-size: 3em;
  }

  #flash {
    background-color: coral;
  }

  #new-item {
    @include border-top-radius($base-border-radius);
    @include border-right-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
    @include border-left-radius($base-border-radius);
    background-color: $light-blue;
    padding: 10px;
    border-radius: 10px;
  }

  #show-item {
    @include border-top-radius($base-border-radius);
    @include border-right-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
    @include border-left-radius($base-border-radius);
    background-color: $light-pink;
    max-width: 400px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #user-info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    #name {
      font-size: 2em;
    }

    #followers {
      @include border-top-radius($base-border-radius);
      @include border-right-radius($base-border-radius);
      @include border-bottom-radius($base-border-radius);
      @include border-left-radius($base-border-radius);
      background-color: $flamingo-pink;
      max-width: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #main-content {
    padding: 15px;
  }

  #news-feed {
    @include border-top-radius($base-border-radius);
    @include border-right-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
    @include border-left-radius($base-border-radius);
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  #log-in-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }
}
